@model WikiManageWeb.Models.ModelsView.ProductMv

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section jsFooter
{


    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        var editor = CKEDITOR.replace('Content',
            {
                customConfig: '/Areas/Admin/Acess/vendor/ckeditor/config.js'
            });
    </script>

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Sửa lại bài viết</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea name="Content" id="Content" class="form-control mx-2 px-2">@Model.Content</textarea>
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CateName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.CateId, new SelectList(ViewBag.ListCategory, "ID", "Name"), "Chọn danh mục", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CateId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.hideInfo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.hideInfo)
                @Html.ValidationMessageFor(model => model.hideInfo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger px-5 mb-5"><span class="text-center text-danger font-weight-bold">@ViewBag.Message</span></div>

        }
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-dark" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
