<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Acess/vendor/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>

    <div class="d-flex pt-1" id="wrapper">

        @{Html.RenderAction("NavigationBar", "Menu");}


        <div id="page-content-wrapper">
            <header>
                @{
                    Html.RenderAction("HeaderBar", "Menu");
                }
            </header>
            <p id="menu-toggle" class="font-weight-bold"> <i class="fas fa-arrow-right"></i></p>
            <!-- content -->
            <div class="container mb-lg-5">

                @RenderBody()
                <hr />

            </div>
        </div>
    </div>
    <footer class="text-center">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("jsFooter", false);
    <script>
        $("#menu-toggle").on('click', function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
